.table-hc {
	margin-top: 20px;	
}

.block {
	display: block;
	overflow-x: scroll; 
	width: auto;
	overflow-y: scroll; 
	height: 800px;
}

td {
	vertical-align: top;
}

.mat-cell,
.mat-header-cell {
	padding-left: 20px;
}

.mat-row:hover {
  background-color: #ededed;
}

.link {
	cursor: pointer;
}

.right {
	float: right;
}