.table-hc {
	margin-top: 20px;	
}

.block {
	display: block;
	overflow-x: scroll; 
	width: auto;
}

.mat-cell,
.mat-header-cell {
	padding-left: 20px;
}

.mat-row:hover {
  background-color: #ededed;
}

.link {
	cursor: pointer;
}

.right {
	float: right;
}